.register{
    width: 80%;
    margin: auto;
    background-color: white;
    height: 80vh;
    
}

.account_type{
    margin: 20px auto;
    width: 100%;
}
@media screen and (min-width: 480px) {
    .account_type{
        margin: 20px auto;
    }
}

.send_otp_btn{
    margin-bottom: 10px;
}